《一世辉煌》全本 修改版 作者：炫亦_Converted_1-55.txt
《一世辉煌》全本 修改版 作者：炫亦.txt
《乱欲之渊》 1-164＋番外6（完）作者：yuan19971004.txt
《反派的我只想让她们乖乖听话》 作者：三千鱼 （校对版完结）.txt
《我在KTV经历过的女人（1-499完本加料版）作者：九问.txt
《最终Boss来自二十年后》作者：泯东（精校未删减全本 番外）【完全版】.txt
《杨过狂干众女二.txt
2930_SC.txt
2930.txt
ai_proofread.log
AnalyzedNames.csv
ChinesePhienAmWords.txt
Combine.py
combined_code.txt
config.yaml
Names.txt
Names2.txt
New Text Document_SC.txt
New Text Document.txt
qtbatch.log
qtbatch.log.1
qtbatch.log.2
qtbatch.log.3
qtbatch.log.4
qtbatch.log.5
QTBatch.pyproj
Test_Converted.txt
Test.txt
VietPhrase.txt
caches/《杨过狂干众女二.txt.db
caches/Test.txt_1_5.db
caches/Test.txt_2_10.db
caches/Test.txt_5_10.db
caches/Test.txt.db
proofread_caches/Test.txt.db
temp/temp_chapter_0_10.txt
temp/temp_chapter_1_5.txt
temp/temp_chapter_1_6.txt
temp/temp_chapter_1_9.txt
temp/temp_chapter_1_10.txt
temp/temp_chapter_1_11.txt
temp/temp_chapter_1_55.txt
temp/temp_chapter_2_5.txt
temp/temp_chapter_2_7.txt
temp/temp_chapter_2_10.txt
temp/temp_chapter_2_11.txt
temp/temp_chapter_5_10.txt
temp/temp_chapter_5_55.txt
temp/temp_chapter_8_10.txt
temp/temp_chapter_10_55.txt
providers/__pycache__/google_generativeai_sdk.cpython-310.pyc
providers/__pycache__/vertex_ai_sdk.cpython-310.pyc
models/__pycache__/trie.cpython-310.pyc
__pycache__/